<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connected</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="../static/bootstrap/jquery.min.js"></script>
    <script src="../static/bootstrap/bootstrap.min.js"></script>
</head>

<body>
<h1 style="color: ;text-align: center"> Hoşgeldiniz, {{ user_name }} {{ user_surname }}</h1>
<p style="color: green;text-align: center">Güncel Bakiyeniz: {{user_balance}}</p>
<h3 style="color: ;text-align: center"> Lütfen şişenizin barkodunu okutunuz...</h3>

</body>
</html>