<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fasdfaf</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="../static/bootstrap/jquery.min.js"></script>
    <script src="../static/bootstrap/bootstrap.min.js"></script>
    <script>
        function f() {
            ctr = 0;
            a = false;
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "http://localhost:8080/rest/automats/automat1",
                "method": "GET"
            }
            $.ajax(settings).done(function (response) {
                window.location = '/';

            }).fail(function () {
                setTimeout(f, 1000);
            });

        }
    </script>
</head>

<body onload="f()">
<h1 style="color: white;background-color: red;text-align: center">Özür Dilerim</h1>
<br>
<br>
<br>
<p style="text-align: center">Otomatımız şu anda <br> hizmet verememektedir</p>

</body>


</html>