<!DOCTYPE html>
<html lang="en"
>
<head>
    <meta charset="UTF-8">
    <title>Sirius Geri Dönüşüm</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="static/bootstrap/jquery.min.js"></script>
    <script src="static/bootstrap/bootstrap.min.js"></script>
    <style>
        .center {
  text-align: center;
}






    </style>

</head>

<body>
<h1 style="color: white;background-color: green;text-align: center"> Sirius Geri Dönüşüm</h1>


<div class="center">
    <h3> HOŞGELDİNİZ</h3>
    <p align="center">
        {{address_street}} Street
        <br>
        No: {{address_no}}
        <br>
        {{address_neighborhood}}

    </p>
    <br>
</div>
<img src="./static/qrcode.png" align="right" width="200" height="200">
<div class="progress" style="width: 200px; height:80px;">
    <div class="progress-bar progress-bar-{{ progress_color }} progress-bar-striped" role="progressbar"
         aria-valuenow={{ progress_value }} aria-valuemin="0" aria-valuemax="100" style={{ progress_style }}>
        {{ progress_label }}
    </div>
</div>
</body>
</html>