<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Failure</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="../static/bootstrap/jquery.min.js"></script>
    <script src="../static/bootstrap/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="../static/bootstrap/animation.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link type="text/css" rel="stylesheet" href="../css/style.css"/>
</head>
<body>

<div id="notfound">
    <div class="notfound-bg"></div>
    <div class="notfound">
        <h1 style="color: white;text-align: center">Üzgünüm</h1>
        <br>
        <br>
        <br>
        <h3 style="color: white; text-align: center">Otomatımızın haznesi tamamen dolu olduğu için<br> şu anda hizmet veremiyoruz!</h3>
    </div>
</div>
</body>
</html>