<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Failure</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="../static/bootstrap/jquery.min.js"></script>
    <script src="../static/bootstrap/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="../static/bootstrap/animation.js"></script>

</head>
<body>
<h1 style="color: white;background-color: red;text-align: center">Özür Dilerim</h1>
<br>
<br>
<br>
<p style="text-align: center">Otomatımızın haznesi tamamen dolu olduğu için<br> şu anda hizmet veremiyoruz!</p>

</body>
</html>