<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <style>
         .center {
            align-items: center;
        }
    </style>
</head>
<body>
<h1 style="color: white;background-color: green;text-align: center">Tebrikler</h1>
<h4 style="text-align: center">Bir adet {{ bottle_type }} şişeyi <br>geri dönüşüme kazandırdınız.</h4>
<h4 style="text-align: center">Yapmış olduğunuz katkıdan dolayı <br> {{ point }} puan kazandınız.</h4>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<div style="display: inline-block;">
    <p> Kazanmış olduğunuz puanı <br>hesabınıza eklemek için</p>
    <button class="center">hesap</button>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<div class="center" style="display: inline-block;">
    <p> Kazanmış olduğunuz puanı <br>bağış yapmak için</p>
    <button >bağış</button>
</div>
</body>
</html>